<section>
  
  <input type="text" [(ngModel)]="valor">


  <ul *ngFor="let unHijo of _hijos">
    <li>
      <div id="nombre_hijo">{{unHijo.nombre}}</div>
      <div id="saldo_hijo">Saldo: {{unHijo.saldo}} €</div>

      <div class="btn-group" role="group" aria-label="Basic example">
        <div id="yellow" type="button" class="btn btn-group" role="group" aria-label="Basic example">
          <a [routerLink]="['/padre',pid,unHijo.hid,'paga']">Paga</a>
        </div>
        <div id="green" type="button" class="btn btn-group" role="group" aria-label="Basic example">
          <a [routerLink]="['/padre',pid,unHijo.hid,'transferencia']">Transferencia</a>
        </div>
        <div id="blue" type="button" class="btn btn-group" role="group" aria-label="Basic example">
          <a [routerLink]="['/padre',pid,unHijo.hid,'congelar']">Congelar</a>
        </div>
      </div>
    </li>
  </ul>

  <!-- <p><a [routerLink]="['/padre',pid,'add-hijo']">Añadir Hijo</a></p> -->

</section>
